* {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(240, 240, 240);
  padding-bottom: 4rem;
}

p {
  margin: 0.3em 0px;
}

a {

  &:link,
  &:visited {
    text-decoration: none;
  }
}


.flex-1 {
  flex: 1;
}

.inner {
  max-width: 560px;
  margin: 0px auto;
  padding: 1rem;
}

.wrapper {
  >header {
    background-color: rgb(167, 193, 241);

    .inner {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      div {
        margin-right: 0.5rem;

        &:last-child {
          margin-right: 0;
        }

        &.nickname {
          margin-left: 0.3rem;
        }
      }

      .login-form {
        input {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.post-list {
  display: flex;
  flex-direction: column-reverse;

  .post-single {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    margin-bottom: 1rem;

    header {
      padding: 0.8rem 0.8rem;

    }

    .post-body {
      /* slika */

      img {
        width: 100%;
        height: auto;
      }
    }

    footer {
      padding: 0.3rem 0.8rem;

    }

    .avatar-group {
      display: flex;
      flex-direction: row;

      .next-to-avatar {
        margin-left: 0.5rem;

        .date-time {
          display: block;
          font-size: 0.6rem;
          font-weight: 600;
          color: rgb(97, 97, 97);
          line-height: 0.8rem;
        }
      }

    }

  }
}

.new-post-form {
  padding-bottom: 1rem;

  .avatar-textarea-group {
    display: flex;
    flex-direction: row;
    width: 100%;

    textarea {
      max-width: 100%;
      /* min-width: 100%; */
      width: 100%;
      max-height: 6rem;
      min-height: 3rem;
      resize: vertical;
      padding: 0.4rem 0.6rem;
      margin-left: 0.5rem;
      border-radius: 20px;
      border-bottom-right-radius: 3px;
    }

  }

}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid black;

  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}

.avatar-big-group {
  z-index: 99;
  position: relative;
  margin-top: -50px;
  padding-left: 20px;

  .avatar {
    z-index: 99;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    border: 4px solid white;
    background-color: white;

    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
}



.image-upload-form {
  border: 1px dashed black;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;

  h5 {
    margin: 0px;
  }

  .image-preview-gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    margin: 0.5rem 0rem;

    >.image-preview {
      max-width: 100px;
      max-height: 100px;
      overflow: hidden;
      margin-right: 0.5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        object-fit: cover;
      }
    }

    >label.file-input-custom-design {
      display: block;
      width: 100px;
      height: 100px;
      border: 1px solid rbga(0, 0, 0, 0.5);
      border-radius: 0.5rem;
      background-color: white;
      text-align: center;
      font-size: 14px;
      box-shadow: 0 4px 5px 0 rgb(0, 0, 0, 0.14);
      cursor: pointer;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;

      >.icon {
        font-size: 1.8rem;
      }

      >input {
        position: fixed;
        top: 0px;
        left: -1000px;
      }

      &:hover {
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transform: scale(1.05);
      }
    }
  }
}

.btn-circle {
  width: 40px;
  height: 40px;
  overflow: hidden;
  /* border: 1px solid black; */
  /* background-color: silver; */
  border: 1px solid rbga(0, 0, 0, 0.5);
  border-radius: 100%;
  background-color: white;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 4px 5px 0 rgb(0, 0, 0, 0.14);
  cursor: pointer;

  &:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
  }

  &.disabled {
    cursor: default;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  >* {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  margin: 0.5rem 0;

  .bar-start,
  .bar-center,
  .bar-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    >* {
      margin-right: 0.5rem;
    }

    >*:last-child {
      margin-right: 0;
    }
  }
}

.cover {
  position: relative;
  width: 100%;
  height: 200px;
  /* background-image: url("/static/img/cover-placeholder.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .change-cover-btn {
    position: absolute;
    top: 5px;
    right: 5px;
  }

}

// coments
.comments {

  .number-of-comments {
    text-align: right;
    font-size: 11px;
    color: #65676B;
    padding-bottom: 2px;
    padding-right: 5px;
  }

  .comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;

    padding: 0.5rem;
    padding-top: 0;
    font-size: 14px;

    * {
      margin-right: 0.3rem;

      &:last-child {
        margin-right: 0;
      }
    }

    .avatar {
      width: 30px;
      height: 30px;
    }
  }
}



.new-comment-form {
  padding-bottom: 1rem;
  padding-left: 0.4rem;

  .avatar-textarea-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    .avatar {
      width: 30px;
      height: 30px;
      min-width: 30px;
    }

    .btn-group {
      align-self: flex-end;

      .btn-circle {
        width: 30px;
        height: 30px;
        line-height: 30px;
        min-width: 30px;
        font-size: 13px;
      }
    }


    textarea {
      max-width: 100%;
      /* min-width: 100%; */
      width: 100%;
      max-height: 6rem;
      min-height: 30px;
      height: 30px;
      resize: vertical;
      padding: 0.3rem 0.5rem;
      margin-left: 0.5rem;
      border-radius: 20px;
      font-size: 12px;
    }

  }

}